<p align="center">
	:space_invader: :curly_loop: :wavy_dash: :curly_loop: :space_invader:
</p>
<p align="center">
	:muscle: :small_blue_diamond: :blue_heart: :small_blue_diamond: :hand:
</p>
<h2 align="center">
	:gemini:
</h2>

![]({{ profile.stats_image }})

## My presence is being felt here

<div style="display: flex;flex-wrap: wrap;width: 100%;">
{% for social in profile.social_links %}
<a href="{{ social.url }}" target="_blank">
<img align="{{ social.align }}" alt="{{ profile.github_username }} | {{ social.platform|lower }}" src="{{ social.icon }}" {% if social.width %}width="{{ social.width }}"{% endif %}/>
</a>
{% endfor %}
</div>

{{ profile.bio }}

{% for group in projects %}
{% if group.category == "Star Encyclopedia" %}
My other big project is a "[Star Encyclopedia]({{ group.url }})" ({{ group.description }}) with several sub-projects:

{% for sub in group.sub_projects -%}
- [{{ sub.name }}]({{ sub.url }})
{% endfor %}
{% endif %}
{% endfor %}

{% for group in projects %}
{% if group.category == "Small Applications" %}
I am also creating small applications with a very specific usage:

{% for item in group['items'] -%}
  - [{{ item.name }}]({{ item.url }}) ({{ item.description }})
{% endfor %}
{% endif %}
{% endfor %}

## Visual representation of my technology skill set

{% for key, group in skills.items() %}
### {{ group.title }}
```mermaid
radar-beta
  title {{ group.title }}
  axis {% for item in group['items'] %}{{ item.name | replace(' ', '') }}["{% if item.icon %}{{ item.icon }} {% endif %}{{ item.name }}"]{% if not loop.last %}, {% endif %}{% endfor %}
  curve Skills{ {% for item in group['items'] %}{{ item.value }}{% if not loop.last %}, {% endif %}{% endfor %} }
  max 100
  min 0
  graticule circle
  ticks 5
```
{% if group.get('items') %}
{% for item in group['items'] %}
{% if item.note %}
**Note:** {{ item.name }}: {{ item.note }}
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}

## Record of technologies achieved


```mermaid
gantt
    title {{ experience.title }}
    dateFormat  {{ experience.dateFormat }}
    {% for section in experience.sections %}
    section {{ section.name }}
    {% for item in section['items'] %}
    {{ item.label }} : {{ item.data }}
    {% endfor %}
    {% endfor %}
```

<!---
kubow/kubow is a "special" repository because its `README.md` (this file) appears on your GitHub profile.
You can click the Preview link to take a look at your changes.
Generated by update-bio workflow.
--->
